.modal-div{
    width: 60%;
    display: block;
    background-color: #ffffff1d;
    backdrop-filter: blur(5px);
     padding:2vh ;
      border-radius:0 10px 10px 0; 
      box-shadow:0px 4px 14px 3px black;
    font-family:"Montserrat";
    
  }
  *{
  
  scroll-behavior: smooth;
  }
  .contact-subheader{
    text-align: center;
    margin:4vh 0;
    font-size: 3rem;
    font-weight: 500;
    color: white;
  }
  .input-box{
   background-color:inherit;
   border:none;
   border-bottom:2px solid black;
   border-radius:none!important;
   font-size: 2rem;
   border-color: #ffffff;
   padding: 1px 5px;
   width: 50%;
  
   
  }
  .input-box:focus{
    outline: none;
    border-color: #ffffff;
  }
  .input-header{
    font-size: 2.5rem;
    color: #d2d2d2;
    font-weight: 600;
   
    margin-bottom: 0.5rem;
  }
  .contact-textarea{
      width: 80%;
      margin: 1vh 0;
      border-radius: 5px;
      background-color: #f3f8ff6e;
      border: 2px solid #060606;
      font-size: 2rem;
      padding: 5px;
    
      background-color: inherit;
  }
  .contact-textarea:focus{
    border-color: #a7daff;
    outline: none;
  }
  .contact-btn{
    display: block;
    margin: auto;
    padding: 1vh 4vh;
    font-size: 2.5rem;
    background-color: rgb(255, 179, 39);
    color: white;
    border: none;
   
    border-radius:5px;
    cursor: pointer;
  }
  .contact-btn:active{
    box-shadow: none;
  }
  .contact-btn:hover{
    background-color: rgb(255, 200, 97);
    color:#f0f1f7 ;
  }
  .banner-img-contact{
    width:50%;
    padding : 60px;
    border-radius:10px 0 0 10px;
    cursor: pointer;
    
  }
  .input-contact-flexbox{
    display: flex;
  }
  .modal-box{
    width:72%;
     margin:3vh auto;
     border-radius:10px;
     max-height:fit-content;
     display:flex;
     z-index: 100;
  }

  .modal-box1{
    width:72%;
    margin:3vh auto;
    border-radius:10px;
    max-height:fit-content;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    margin-bottom: 50px;
    font-family:"Montserrat";

  }

  .content{
    margin-top: 60px;
    line-height: 1.5;
  }

  .shvet-img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }


  @media only screen and (max-width: 768px)
  {
    .modal-box{
        flex-direction: column;
        
    }
    *{
        font-size: 70%;
    }
    .banner-img-contact{
        width: 100%;
        height: 20vh;
        
        display: none;
    }
    .input-contact-flexbox{
        flex-direction: column;
    }
    .modal-div{
        width: 100%;
        border-radius: 10px 10px 10px 10px;
    }
    .contact-textarea{
        width: 100%;
    }
  }
  
  