body {
 
  font-size: 14px;
}

#cont2 h1{
  font-size: 60px; 
  color: #ffc400;
  text-shadow: 0 2px 34px  rgba(147, 122, 68, 0.836);
  transition: all 0.5s ease;
}
#cont2 h1:hover{
  text-shadow: 0 2px 39px rgb(219, 182, 103);
}
#container {
  color:white;
  display: flex;
  height: 100vh;
}

#myVideo{
  top:0;
  overflow: hidden;
  left:0;
  right: 0;
  object-fit: cover;
  overflow: hidden;
  position: fixed;
  z-index: -2;
  height: 100%;
  width: 100%;
 
}
#particles-js {
  background-color: #000000;
  background-image: linear-gradient(to left bottom,
      #f265b528,
      #df75cb28,
      #c984dc28,
      #b291e628,
      #9c9cea28,
      #8c98ed28,
      #7994f128,
      #6191f428,
      #477efb28,
      #316aff28,
      #2853ff28,
      #3333ff28);
 


  top:0;
 
  z-index: -1;
  left:0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  
}
.video-filter{
  top:0;
  background-color: #0000004d;
  z-index: -1;
  left:0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
}
#side-panel {
  position: fixed;
  height: 100%;
  width: 230px;
  background-color: rgba(195, 195, 195, 0.152);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

#content {
  flex: 1;
  margin-left: 230px;
  box-sizing: border-box;
}

#cont2{
  margin-top: 50px;
  padding: 30px;
  z-index: 2 !important;
}
.cont3{
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

/* Add your styles for navigation links or other content in the side panel */
#side-panel a {
  font-size: 30px;
  color: #fff;
  padding:25px 20px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
#side-panel a i {
  padding: 0px 10px 0px 0px;
}
#side-panel a:hover {
  color: #ffc400;
}

.playlist-page-link:hover{
  text-decoration: none;
}


.playlist-card ,.artist-card{
  margin: 50px;
  scale:1.28;
  background-color: #2a2a2a;
  border-radius: 8px;
  box-shadow: 0 2px 24px 5px rgba(0, 0, 0, 0.536);
  overflow: hidden;
  width: 200px;
  color: rgb(235, 235, 235);
  transition: transform 0.3s ease;
}
.playlist-card img{
  border-radius: 25px;
  padding: 15px;
}

.artist-card img{
  border-radius: 50%;
  padding: 15px;
}


.playlist-card:hover ,.artist-card:hover {
  transform: scale(1.02);
  box-shadow: 10px 18px 34px 5px rgba(0, 0, 0, 0.636);
}

.playlist-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: initial;
}


.playlist-details {
  padding: 16px;
  cursor: text;
}

.playlist-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.playlist-description {
  font-size: 14px;
  color: #7b7b7b;
}





.section-brake{
  display: flex;
  flex-direction: row;

}



html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@keyframes scrollbelow {
  0%{
      top: 0px;
  }
  100%{
      top: 10px;
      opacity: 0;
      display: none;
  }
}
/********* Home Page styles **********/
/******* header *******/
nav {

  padding-bottom: 15px;
  position: fixed !important;
  z-index: 99999;
  padding-left: 38px;
  width: 100%;
  position: absolute;
  /* background-color: #0f0f0f !important; */
}
#header-nav {
  background-color: #000000;
  border-radius: 0;
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
}

#logo-img {
  background: url("homepage/swetifylogo.jpg") no-repeat;
  width: 130px !important;
  scale:0.8;
  height: 150px !important;
}

#PlaySing {
  padding-top: 40px;
  font-size: 15px;
}

#headphones {

  font-size: 30px;
}

.navbar-brand {
  height: 80px;
  padding-top: 37px;
  font-size: 18px;
}

.navbar-brand h1 {
  /*Music Website Name*/
  color: #fcfcfc;
  font-weight: bold;
  font-size: 2.2em;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand span {
  /*Play and Sing with us noe*/
  color: white;
  margin-top: 0;
  font-style: bold;
}
nav a{
  text-decoration: none !important;
}
#nav-list a {
  color: rgb(209, 209, 209);
  text-align: center;
  font-size: 1.8em;
  text-shadow: 0.5px 1px 0 rgb(87, 87, 87);
  /* border: 1px solid grey; */
  padding: 20px 25px 20px 25px;
  margin: 0px 5px 0px 5px;
  /* box-shadow: 0 0 0 2px rgb(160, 148, 148); */
}

.topicons {
  color: white;
  text-shadow: 0.5px 1px 0 #3333ff;
}

#navlist span {
  margin-bottom: 2px;
}

#nav-list a:hover,
.topicons:hover {
  background-color: rgb(88, 88, 88);
  border-radius: 5px;
  text-shadow: 1px 1px 0 #3333ff;
}
.navbar-header{
  display: flex;
  width: 100%;
}

.navbar-header button.navbar-toggle {
  border: 1px solid white;
}

.navbar-header .icon-bar {
  border: 1px solid #3333ff;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-header button.navbar-toggle:hover {
  background-color: white;
}

/* .navbar-header{
  position: relative; 
  display: flex;
  left: -150px;
} */

.navbar-nav {
  flex-direction: row;
}

/******** Home Page Main Content Styles ***********/

.categories-heading {

  font-family: sans-serif;
  font-size: 3em;
  color: white;
  opacity: 0.8;
  font-weight: 800;
  margin-top: 20px;
  transition: width 2s, opacity 2s;
  padding: 40px;
  text-align: center;
  
}

#prev-slide, .slider-wrapper #prev-slide {
  left:250px;
  position: absolute;
  background-color: #dfdfdf2b;
  color: #ffffff;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    font-size: 6.0rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;

}

#prev-slide:hover , #next-slide:hover{
  scale: 1.03;
}

#next-slide , .slider-wrapper #next-slide{
  right:5px;
  position: absolute;
  font-size: 6.0rem;
  border: none;
  outline: none;
  background-color: #dfdfdf2b;
  color: #ffffff;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border-radius: 50%;

}
#next-slide{
  right: 30px;
}
.material-symbols-rounded::before {
  content: "";
  /* Add your styling for the chevron_left and chevron_right symbols */
}

.category-title {
  font-family: "Montserrat", sans-serif;
  border-radius: 10%;
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  width: 350px;
  height: 350px;
  margin: 15px auto 15px;
}

.category-title span {
  height: 100%;
  position: absolute;
  top: 50%;
  font-family:'Times New Roman', Times, serif;
  font-weight: 500;
  right: 0;
  padding-top: 3%;
  width: 100%;
  text-align: center;
  align-items: center;
  font-size: 1.7em;
  background-color: #000000;
  color: white;
  opacity: 0.7;
  transition: height 2s, opacity 2s, top 1s;
}
.category-title span  p{
  font-size: 15px;
  padding:0px 50px 0 50px;
}

.category-title hr {
  width: 50%;
  margin-left: 25%;
  
 
}
.category-title:hover span {
  top: 85%;
  opacity: 1;
}


.category-title:hover {
  box-shadow: 1px 2px 5px 5px #ffffff;
  background-color: none;
}

/******** Home Page Slider *********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider_div,
.slider-wrapper {
  display: grid;
  place-items: center;
  width: 100%;
}

.center_div {
  width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 5% 2% 5% 2%;
}

.category-slider {
  position: relative;
  transition: transform 0.3s ease-in;
}

.category-img {
  padding: 20px;
  border-radius: 10%;
}

.slider-title {
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
  position: absolute;
  bottom: 8%;
  right: 10%;
  width: 80%;
  text-align: center;
  align-items: center;
  font-size: 2.5em;
  background-color: #000000;
  color: white;
  opacity: 0.7;
  overflow: hidden;
  transition: height 2s, opacity 1s;
}

.category-slider:hover {
  transform: scale(1.1);
}

.center_div {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth; /* Add smooth transition */
}

.category-slider {
  flex: 0 0 auto;
  margin-right: 15px; /* Adjust as needed */
}

.category-slider:hover .slider-title {
  opacity: 1;
}

.slider_div .center_div::-webkit-scrollbar {
  display: none;
}

.slider_div .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-wrapper {
  position: relative;
}



.slider-wrapper .slide-button:hover {
  background: #444;
}

.slider-wrapper button#prev-slide {
  left: 5px;
}


.footer {
  width: auto;
  height: 12vh;
  align-items: center;
  justify-content: space-around;
  display: flex;
  background-color: black;
}

.footer p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer p .icon {
  color: white;
}

.footer p .icon:hover {
  color: rgb(255, 223, 44);
  cursor: pointer;
  text-decoration: none;
}

.footer p .icon:active {
  color: rgb(255, 223, 44);
  cursor: pointer;
  text-decoration: none;
}

.footer .smallp {
  font-size: 2rem;
  color: rgb(163, 142, 142);
}

.footer .title a {
  color: #ffffff;
  font-weight: normal;
  text-shadow: 0.5px 0.5px 0 rgb(176, 155, 215);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 0.75;
  cursor: pointer;
  text-decoration: none;
}

.footer ul {
  color: white;
  /* font-family: "Lobster", cursive; */
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  list-style: disc;
}

.footer ul li {
  margin: 5px;
}

.footer ul li a {
  color: #a7c5ff;
  cursor: pointer;
  text-decoration: none;
}

.footer ul li a:hover {
  color: white;
  text-decoration: underline;
  transition: 0.5s;
  font-size: 20.5px;
}
a {
  text-decoration: none;
}

footer .top {
  border-radius: 80px;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-weight: bold;
  font-size: 19px;
  justify-content: center;
  background-color: #000000;
  transition: all 0.3s ease;
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.4);
}

footer .top:active {
  pointer-events: auto;
  opacity: 1;
}

footer .top a {
  
  color: rgb(229, 211, 211);
  padding: 14px;
}

footer .top a:hover {
  color: white;
  font-size: 22px;
  padding: 14px;
  justify-content: center;
}

footer .top:hover {
  box-shadow: 0 0px 20px 5px rgba(255, 255, 255, 0.4);
}

/********* popular artists styles *************/
.popularcat{
  padding: 60px 0px 0px 0px;
}
.artist-container {
  transition: transform 0.3s ease-in;
  border-radius: 50%;
  margin: 15px auto 20px;
  box-sizing: border-box;
}

.artist-details {
  position: relative;
  justify-content: center;
}

.artist-img {
  object-fit: cover;
  border-radius: 50%;
  vertical-align: center;
}

.artist-title {
  text-transform: translate(0, 100px);
  padding: 80px;
  padding-top: 100px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  display: none;
  position: absolute;
  height: 100%;
  width: 300px;
  margin-left: -300px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  align-items: center;
  font-size: 2.5em;
  overflow: hidden;
  transition: height 2s, opacity 1s;
}

.artist-details:hover .artist-title {
  display: inline;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}

/********** main and music containers styles ***********/

.main_div {
  font-family: "Jost", sans-serif;
  width: 96vw;
  height: 96vh;
  display: grid;
  place-items: center;
}

.music_container {
  width:80%;
  height:100%;
  background-color: #000000;
  border-radius: 2rem;
  box-shadow: 1.2rem 1.2rem rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-left:20%;
  margin-top: 0%;
  padding:0% 0% 0% 2rem;

}

.music_container #title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  color: #b3b3b3;
  margin: 5px 0 0 0 ;
  font-size: 2.3rem;
  font-weight: bold;
  padding-top: 0;
  text-shadow: 0 3px 10px 2.5rem rgba(0, 0, 0, 0.7);
}

.music_container #artist {
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: 300;
}

.songimg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4);
  position: relative;
}

/******* controls styles ********/
.music_controls {
  width: 29rem;
  display: flex;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  padding-top: 0;
  padding-bottom: 10px;
  margin-top: 0;
}
.progress_container h3{
  margin-bottom: 0;
 }
.download_controls {
  position: relative;
  bottom: 7px;
  right: 10px;
  padding: 1.75rem 1rem 0rem 1rem;
}

.music_controls .fa {
  color: #919191;
  font-size: 2rem;
  cursor: pointer;
  filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4));
  padding-top: 0;
  margin-top: 0;
}

.download_controls .fa {
  color: #919191;
  font-size: 2rem;
  cursor: pointer;
  filter: drop-shadow(0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4));
}

.music_controls .fa:hover {
  color:  #919191;
}

.download_controls .fa:hover {
  color:  #919191;
}

.music_controls .main_button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #919191;
  color: #000000;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music_controls .main_button:hover {
  background-color: white;
  color: #3333ff;
  box-shadow: 0 0.5rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
}

.anime {
  animation: rotateplayer 3s linear infinite;
}

@keyframes rotateplayer {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/******** like button styles ********/
.like_button {
  position: relative;
  /* margin-bottom: 0px; */
}

input[type="checkbox"] {
  display: none;
}

.like_icon {
  width: 25px;
  height: 25px;
  margin-bottom: 0px;
  background-image: url("icons/likeBefore.png");
  background-size: cover;
  cursor: pointer;
}

input[type="checkbox"]:checked+.like_icon {
  background-image: url("icons/likeAfter.png");
}

/******** toast message styles ********/

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/******** progressive bar styles ********/

.progress_container {
  width: 100%;
  height: auto;
  padding: 1rem 1rem 0 1rem;
  margin-top:0;
}

.progress_div {
  width: 100%;
  height: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7), 0 2px 4px rgba(0, 0, 0, 0.7),
    0 4px 8px rgba(0, 0, 0, 0.7), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.7), 0 32px 64px rgba(0, 0, 0, 0.07);
  border-radius: 4rem;
  background-color: white;
  position: relative;
  margin-top: 1.2rem;
  -webkit-transition: width 1s linear;
  -moz-transition: width 1s linear;
  -o-transition: width 1s linear;
  transition: width 1s linear;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.progress {
  /* 
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 70%;
  background-color: #ff3333;
  border-radius: 4rem;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  transition: value 0s linear;
  */
}

.progress_duration_meter {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 1.3rem;
}

/*******Large Devices only********/
@media (min-width: 1200px) {
  .max-lg-display {
    display: none !important;
  }

  .container-not-bs {
    padding: 0 35px 0 0;
  }
}

/*******Medium Devices only********/
@media (min-width: 992px) and (max-width: 1199px) {
  .lg-display {
    display: flex;
  }

  .max-lg-display {
    display: none !important;
  }




  .footer ul {
    font-size: 23px;
    list-style: disc;
  }

  .footer ul li:active {
    color: #a7c5ff;
    font-size: 23px;
    text-decoration: none;
  }

  .footer ul li a:hover {
    color: #ffffff;
    font-size: 24px;
    text-decoration: underline;
  }

  footer .top {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20;
    right: 20;
    text-align: center;
  }

  footer .top:hover {
    height: 45px;
    width: 40px;
    position: fixed;
    bottom: 23;
    right: 20;
    text-align: center;
  }

  footer .top a {
    font-size: 25px;
    color: white;
    padding: 0;
  }

  footer .top a:hover {
    font-size: 28px;
    padding: 0;
  }
}

/*******Small Devices only********/
@media (min-width: 768px) and (max-width: 991px) {
  .lg-display {
    display: flex;
  }

  .max-lg-display {
    display: none !important;
  }

  #header-nav {
    font-size: 0.9em;
    height: 100px;
  }

  .navbar-brand h1 {
    font-size: 1.7em;
  }

  #headphones,
  #PlaySing {
    font-size: 0.9em;
  }

  .container .photo {
    background: url("images/ABOUT/shwetsofa_small.jpg") no-repeat;
    height: 454px;
    width: 238px;
    box-shadow: 0 0 50px #3f0c1f;
    border: 5px solid #e6e6e6;
    border-radius: 25px;
    vertical-align: center;
  }

  .container .message-box {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: -15px;
  }

  .footer {
    height: 300px;
    background-color: black;
    position: relative;
    bottom: 0;
    flex-wrap: wrap;
  }

  .footer p {
    font-size: 25px;
    display: block;
  }

  .footer .smallp {
    font-size: 24px;
  }

  .footer ul {
    font-size: 23px;
    list-style: disc;
  }

  .footer ul li:active {
    color: #a7c5ff;
    font-size: 23px;
    text-decoration: none;
  }

  .footer ul li a:hover {
    color: #ffffff;
    font-size: 24px;
    text-decoration: underline;
  }

  footer .top {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20;
    right: 20;
    text-align: center;
  }

  footer .top:hover {
    height: 45px;
    width: 40px;
    position: fixed;
    bottom: 23;
    right: 20;
    text-align: center;
  }

  footer .top a {
    font-size: 25px;
    color: white;
    padding: 0;
  }

  footer .top a:hover {
    font-size: 28px;
    padding: 0;
  }
}

/*******Extra small Devices only********/
@media (max-width: 767px) {
  .lg-display {
    display: none;
  }

  .navbar-brand h1 {
    font-size: 1.7em;
  }

  #headphones,
  #PlaySing {
    font-size: 0.9em;
    margin-top: 8px;
  }

  #collapsable-nav a {
    font-size: 1.2em;
  }

  #collapsable-nav a span {
    font-size: 1em;
  }

  .categories-heading {
    width: 95%;
    opacity: 1;
  }


  .footer {
    height: 300px;
    background-color: black;
    position: relative;
    bottom: 0;
    flex-wrap: wrap;
  }

  .footer p {
    font-size: 25px;
    display: block;
  }

  .footer .smallp {
    font-size: 24px;
  }

  .footer ul {
    font-size: 23px;
    list-style: disc;
  }

  .footer ul li:active {
    color: #a7c5ff;
    font-size: 23px;
    text-decoration: none;
  }

  .footer ul li a:hover {
    color: #ffffff;
    font-size: 24px;
    text-decoration: underline;
  }

  footer .top {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20;
    right: 20;
    text-align: center;
  }

  footer .top:hover {
    height: 45px;
    width: 40px;
    position: fixed;
    bottom: 23;
    right: 20;
    text-align: center;
  }

  footer .top a {
    font-size: 25px;
    color: white;
    padding: 0;
  }

  footer .top a:hover {
    font-size: 28px;
    padding: 0;
  }
}


.music_container #artist {
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-size: 1.7rem;
  margin-bottom: 0rem;
  font-weight: 300;
 }

 .main-img_container{
  margin:auto auto 0 auto;
} 

.img_container {
  position: relative;
  left: 50%;
  width: 28rem;
  height: 28rem;
  margin: 35% 10% 5% auto;
}

/******Super Extra Small Devices Only*****/
@media (max-width: 479px) {
  .lg-display {
    display: none;
  }

  .navbar-h1 {
    padding: 5px;
    font-size: 6vw;
  }

  .footer {
    height: 400px;
    background-color: black;
    position: relative;
    bottom: 0;
  }

  .footer p {
    font-size: 20px;
    display: block;
  }

  .footer .smallp {
    font-size: 18px;
  }

  .footer ul {
    font-size: 15px;
    list-style: none;
  }

  .footer ul li:active {
    color: #a7c5ff;
    font-size: 15px;
    text-decoration: none;
  }

  .footer .top {
    height: 200px;
    width: 200px;
  }

  .footer .to-top {
    height: 200px;
    width: 200px;
  }
}

/* liked song list */

.container-liked-list {
  margin: 20px;
  /* position: relative;
	bottom: 40px;
	right: 10px;
	left: 10px;
	top: 400vh; */
}

.container-scroll {
  background: linear-gradient(to right, #9c9df1, #9db6f0, #d2daff, #eef1ff);
  margin: auto;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  border: 10px solid whitesmoke;
  font-family: "Arial", sans-serif;
  height: 200px;
  width: 90%;
  overflow-y: auto;
  border-radius: 10px;
}

table {
  width: 100%;
  font-family: Verdana;
}

.headT {
  color: black;
  font-family: Arial, sans-serif;
  font-size: large;
  font-weight: lighter;
  position: sticky;
  border-bottom: 4px solid #7576c4;
}

td,
th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #555;
}

tr {
  width: 100%;
  line-height: 40px;
  padding: 10px;
  background: linear-gradient(to right, #9c9df1, #9db6f0, #d2daff, #eef1ff);
  border-bottom: 1px solid #555;
  transition: background 0.5s, box-shadow 0.3s;
  cursor: pointer;
}

tr:hover {
  background: linear-gradient(to right, #647dee, #7280e3, #8390e7, #9aa8f2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-not-bs {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.max-lg-display {
  display: grid;
}

.tagline-flex {
  padding: 1.5rem 0px;
}

.nav-elem {
  display: grid !important;
  gap: 1.25rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* spotify UI  */

#login_container {
  display: block;
}

#spotify-window {
  display: none;
}

/* spotify login/authorize container */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.welcome-text {
  color: rgb(176, 176, 176);
  font-size: 20px;
  padding-bottom: 20px;

}

.welcome-text p {
  display: flex;
  justify-content: center;
}

.button-log {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-log button {
  background: #1db954;
  font-size: 20px;
  font-weight: 600;
  width: 190px;
  height: 45px;
  border: none;
  border-radius: 30px;
}

/* spotify songs displayer */

.nav-tabs {
  font-size: 16px;
  font-weight: 600;
}

#display-container {
  margin: 0 auto;
  width: 80%;
  border: 3px solid #bababa;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 18px -1px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 1px 1px 18px -1px rgba(0, 0, 0, 0.54);
  box-shadow: 1px 1px 18px -1px rgba(0, 0, 0, 0.54);
  margin-top: 40px;
  background-image: linear-gradient(to left bottom,
      #f265b5,
      #df75cb,
      #c984dc,
      #b291e6,
      #9c9cea,
      #8c98ed,
      #7994f1,
      #6191f4,
      #477efb,
      #316aff,
      #2852ff,
      #3333ff);
  ;
}

.list-displayer {
  display: flex;
  margin: 10px;
  padding: 10px 10px;
  border: 1px solid pink;
}

.innerimage img {
  border-radius: 10px;
}

.textdiv {
  margin: 10px;
  color: #fff;
  font-size: 14px;
}

label {
  display: block;
  font-size: 17px;
}

ran {
  font-weight: 600;
}

h2 a{
  color: rgb(255, 179, 39) !important;
}

#logout-icon {
  width: 20px;
  height: 30px;

}

.logout {
  background: #fff;
  border: none;
  width: 350px;
  height: 30px;
  display: flex;
}

.logout span {
  font-size: 17px;
  height: 30px;
  position: absolute;
  left: 60px;
  bottom: 8px;
}

#logo-inner {
  width: 60px;
  height: 60px;
}

.innerimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.innerimage {
  height: 150px;
  width: 200px;
}

#navs {
  position: relative; 
}

#navs :nth-child(3) {
  position: absolute;
  right: 20px;
}

#navs :nth-child(3) svg {
  height: 30px;
  width: 40px;
}

.profile-data {
  position: fixed;
  top: 85px;
  right: 205px;
  border-radius: 5px;
  display: none;
  padding: 10px 10px;
  width: 350px;
  height: 200px;
  padding: 20px 25px;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 18px -1px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 1px 1px 18px -1px rgba(0, 0, 0, 0.54);
  box-shadow: 1px 1px 18px -1px rgba(0, 0, 0, 0.54);
  font-size: 16px;
}

.container {
  width: auto !important;
}

h3{
  font-size: 28px;
}

.dark-mode {
  background-color: #d6d5d5 !important;
  color: #272626 !important;
}
.dark-mode a{
  
  color: #272626 !important;
}
.dark-mode p{
  color: #272626 !important;
}
.dark-mode label{
  color: #272626 !important;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#footer{
  background-color: black;
}
.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider2 {
  background-color: #272727;
}

input:focus + .slider2 {
  box-shadow: 0 0 1px #383838;
}

input:checked + .slider2:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider2.round {
  border-radius: 34px;
}

.slider2.round:before {
  border-radius: 50%;
}
