
*, * ::before , * :: after{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	background-image: linear-gradient(to left bottom, #f265b5, #df75cb, #c984dc, #b291e6, #9c9cea, #8c98ed, #7994f1, #6191f4, #477efb, #316aff, #2852ff, #3333ff);
}
html{
	font-size:62.5%;
    font-family: 'Jost', sans-serif;
	scroll-behavior: smooth;
}

/********* Home Page styles **********/
/******* header *******/

#header-nav{
	background-color:#000000;
	border-radius:0;
	border:0;
	margin-bottom:0;
	font-family: 'Montserrat', sans-serif;
}

#logo-img{
	background:url("homepage/swetifylogo.jpg") no-repeat;
	width:150px;
	height: 150px;
	margin: 10px 15px 10px 0px;
}

#PlaySing{
	margin-top: 50px;
}
#headphones{
	margin-top:20px;
	font-size:30px;
}

.navbar-brand{
	height:80px;
	padding-top: 25px;
}


.navbar-brand h1{/*Music Website Name*/
	color:#1e70e3;
	font-weight:bold;
	font-size:2.2em;
	text-shadow: 1px 1.5px 0 white;
	margin-top:0;
	margin-bottom:0;
	 line-height:.75;

}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration : none;
}
.navbar-brand span{ /*Play and Sing with us noe*/
  color : white;
  margin-top: 0;
  font-style: bold;
  
}



#nav-list{
	margin-top:10px;
}

#nav-list a{
	color:white;
	text-align:center;
	font-size: 1.6em;
	text-shadow: .5px 1px 0 white;
	/* border: 1px solid grey; */
	margin-left: 0.25rem;
	/* box-shadow: 0 0 0 2px rgb(160, 148, 148); */
}
.topicons{
	color:white;
	text-shadow: .5px 1px 0 #3333ff;
}

#navlist span{
	margin-bottom:2px;
}
#nav-list a:hover , .topicons:hover{
background-color:white;
color:black;
text-shadow: 1px 1px 0 #3333ff;
}




.navbar-header button.navbar-toggle{
	border :1px solid white;
}

.navbar-header .icon-bar{
	border :1px solid #3333ff;
}

.navbar-header button.navbar-toggle{
	clear:both;
	margin-top:-30px;
}

.navbar-header button.navbar-toggle:hover{

	background-color: white;
}

/******** Home Page Main Content Styles ***********/


.categories-heading{
	font-family: 'Montserrat', sans-serif;
	font-size:2.5em;
	background-color:#000000;
	width:60%;
	color: white;
	opacity:.8;
	transition: width 2s,opacity 2s;
	border:2px solid #3F0C1F;
	margin: 15px auto 15px;
	text-align:center;
}

.categories-heading:hover{
   width:95%;
   opacity:1;
}



.category-title{
	font-family: 'Montserrat', sans-serif;
	border-radius: 10%;
	position: relative;
	border:2px solid #3F0C1F;
    overflow:hidden;
    width:350px;
    height:350px;
    margin: 15px auto 15px;

}

.category-title span{
	height:100%;
	position:absolute;
	top:50%;
	right:0;
	width:100%;
	text-align:center;
	align-items: center;
	font-size:2.5em;
	background-color: #000000;
	color:white;
	opacity:.7;
	transition: height 2s, opacity 2s , top 2s;

}

.category-title:hover span{
	top : 85%;
	opacity : 1;
	
}


.category-title:hover{
	box-shadow:1px 2px 5px 5px #ffffff;
	background-color: none;
}



/******** Home Page Slider *********/

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

      .slider_div, .slider-wrapper{
        display: grid;
        place-items: center;
		width: 100%;
      }

      .center_div {
        width: 100%;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
		padding: 5% 2% 5% 2%;
      }
       
       .category-slider{
          position:relative;
		  transition: transform 0.3s ease-in;
       }

      .category-img {
        padding: 20px;
        border-radius: 10%;
        
      }
       
        .slider-title{
       	 font-family: 'Montserrat', sans-serif;
       	 border-radius: 30px;
	     position:absolute;
	     bottom:8%;
	     right:10%;
	     width:80%;
	     text-align:center;
	     align-items: center;
	     font-size:2.5em;
	     background-color: #000000;
	     color:white;
	     opacity:.7;
	     overflow: hidden;
	     transition: height 2s, opacity 1s;
       }

      .category-slider:hover{
        transform: scale(1.1);
      }

      .category-slider:hover .slider-title{
         opacity:1;
         
      }
	  
	  
	  .slider_div .center_div::-webkit-scrollbar{
		display: none;
	  }
      
	  .slider_div .slider-scrollbar{
		height: 24px;
		width: 100%;
		display: flex;
		align-items: center;
	  }

	  .slider-wrapper{
		position: relative;
	  }
	
	  .slider-wrapper button{
		position: absolute;
		top: 50%;
		height: 50px;
		width: 50px;
		color: #ffffff;
		border: none;
		outline: none;
		background: #000000;
		font-size: 2.2rem;
		cursor: pointer;
		border-radius: 50%;
		transform: translateY(-50%);
		
	  }
	  

	  
	  .slider-wrapper .slide-button:hover{
		background: #444;
	  }

	  

	  .slider-wrapper button#prev-slide{
		left: 5px;

	  }

	  .slider-wrapper button#next-slide{
		right: 5px;
	  }


	  
 /********* popular artists styles *************/     

 .artist-container{
 	transition: transform 0.3s ease-in;
 	border-radius:50%;
	margin:15px auto 20px;
	box-sizing: border-box;
	
 }
 .artist-details{
 	position:relative;
 	justify-content: center;
 }

 .artist-img{
 	border-radius: 50%;
 	vertical-align: center;
 }

 .artist-title{
 	text-transform: translate(0,100px);
 	padding:80px;
 	padding-top:100px;
 	box-sizing: border-box;
 	font-family: 'Montserrat', sans-serif;
 	display:none;
 	position:absolute;
 	height:100%;
 	width:300px;
 	margin-left:-300px;
 	border-radius:50%;
 	overflow: hidden;
 	text-align:center;
	align-items: center;
	font-size:2.5em;
	 overflow: hidden;
	 transition: height 2s, opacity 1s;

 }

 

 .artist-details:hover .artist-title{
 	display:inline;
 	color:#ffffff;
 	background-color:rgba(0,0,0,.8);
 }

/********** main and music containers styles ***********/




.main_div{
	font-family: 'Jost', sans-serif;
	width:96vw;
	height:96vh;
	display:grid;
	place-items: center;
}

.music_container{
	width:40rem;
	height:63rem;
	background-color: #000000;
	border-radius:2rem;
	box-shadow:1.2rem 1.2rem rgba(0,0,0,0.2);
	padding:2rem;
	text-align: center;
}

.music_container #title{
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	word-spacing: 0.5rem;
	color: #3333ff;
	margin:  2rem 0 0.5rem 0;
	font-size : 2.3rem;
	font-weight : bold;
	text-shadow: 0 0.3rem 0 2.5rem rgba(0,0,0,0.7);
}

.music_container #artist{
	color: white;
	text-transform : capitalize;
	letter-spacing: 0.1rem;
	font-size: 2rem;
	margin-bottom: 4rem;
	font-weight:300;
}


.img_container{
	width: 28rem;
	height: 28rem;
	margin: auto;
	
	
}

.songimg{
	width:100%;
	height:100%;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4);
	position:relative;
	
}

/******* controls styles ********/
.music_controls{
    width:20rem;
    display: flex;
    margin: auto;
    margin-top:2rem;
    justify-content: space-around;
    align-items: center;
}

.music_controls .fa{
     color: #3333ff;
     font-size:2rem;
     cursor:pointer;
     filter:drop-shadow(0 1.2rem 3rem 0.5rem rgba(0,0,0,0.4));
}

.music_controls .fa:hover{
	color: white;
}

.music_controls .main_button{
	width : 5rem;
	height: 5rem;
	border-radius: 50% ;
	background-color: #3333ff;
	color : #000000;
    font-size : 1.4rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.music_controls .main_button:hover{
	background-color: white;
	color : #3333ff;
	box-shadow: 0 0.5rem 2rem 0.2rem rgba(0,0,0,0.4);
}

.anime{
       animation : rotateplayer 3s linear infinite;
}

@keyframes  rotateplayer {
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}

}
/******** like button styles ********/
.like_button {
    position: relative;
	/* margin-bottom: 0px; */
}

input[type="checkbox"] {
    display: none;
}

.like_icon {
    width: 25px;
    height: 25px;
	margin-bottom: 0px;
    background-image: url('icons/likeBefore.png'); 
    background-size: cover;
    cursor: pointer;
}

input[type="checkbox"]:checked + .like_icon {
    background-image: url('icons/likeAfter.png');
}

/******** toast message styles ********/

#snackbar {
	visibility: hidden; 
	min-width: 250px; 
	margin-left: -125px; 
	background-color: #333;
	color: #fff; 
	text-align: center; 
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1; 
	left: 50%;
	bottom: 30px;
  }
  
  
  #snackbar.show {
	visibility: visible; 
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
/******** progressive bar styles ********/



.progress_container{
	width:100%;
	height:auto;
	padding:1rem;
	margin-top: 1rem;
}

.progress_div{
	width:100%;
	height : 0.5rem;
	box-shadow : 0 1px 2px rgba(0,0,0,0.7), 0 2px 4px rgba(0,0,0,0.7), 0 4px 8px rgba(0,0,0,0.7), 0 8px 16px rgba(0,0,0,0.07), 
	           0 16px 32px rgba(0,0,0,0.7),0 32px 64px rgba(0,0,0,0.07);
	 border-radius: 4rem;
	 background-color: white;
	 position:relative;
	 margin-top: 1.2rem;
     transition : width 1s linear;
     -moz-transition: width 1s linear;
     -o-transition: width 1s linear;
     -webkit-transition:width 1s linear;
     cursor:pointer;
     -webkit-appearance : none;
     appearance :none;

}

.progress{
	position:absolute;
	left:0;
	top:0;
	width:0%;
	height:100%;
	background-color: #3333ff;
	border-radius: 4rem;
     cursor:pointer;
     -webkit-appearance : none;
     appearance :none;

}

.progress_duration_meter{
	display:flex;
	color:white;
	justify-content: space-between;
	font-size:1.3rem;
}

 /*******Large Devices only********/
@media (min-width: 1200px)
{

  
}
/*******Medium Devices only********/
@media (min-width:992px) and (max-width:1199px)
{
   #logo-img{
   	background:url("homepage/swetifylogo-medium.jpg") no-repeat;
	width:120px;
	height: 120px;
	margin: 5px 15px 5px 0px;
   }



}
/*******Small Devices only********/
@media (min-width:768px) and (max-width:991px)
{
  #header-nav{
  	font-size:0.9em;
  	height:100px;
  }
  .navbar-brand h1{
  	font-size:1.7em;
  }

  #headphones , #PlaySing{
  	font-size:0.9em;
  	margin-top:8px;
  }

  
  .container .photo{
  	background:url('images/ABOUT/shwetsofa_small.jpg') no-repeat;
  	height:454px;width:238px;
  	box-shadow:0 0 50px #3F0C1F;
  	border:5px solid #e6e6e6;
  	border-radius: 25px;
  	vertical-align : center;
  }
  .container .message-box{
  	margin-top: 15px;
  	margin-bottom: 10px;
  	margin-left:-15px;
  }


}
/*******Extra small Devices only********/
@media(max-width:767px)
{
	

	.navbar-brand h1{
       font-size:1.7em;
	}
	#headphones , #PlaySing{
  	font-size:0.9em;
  	margin-top:8px;
  }

	#collapsable-nav a{
		font-size:1.2em;
	}

	#collapsable-nav a span{
		font-size:1em;
	}
	.categories-heading{
		width:95%;opacity:1;
	}

	.music_container{
	width:30rem;
	height:53rem;
	background-color: #000000;
	}
}

.music_container #title{
	text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    color: #3333ff;
    margin: 2rem 0 0.5rem 0;
    font-size: 2.3rem;
    font-weight: bold;
    text-shadow: 0 0.3rem 0 2.5rem rgba(0,0,0,0.7);
}

.music_container #artist{
	color: white;
	text-transform : capitalize;
	letter-spacing: 0.1rem;
	font-size: 1.7rem;
	margin-bottom: 3rem;
	font-weight:300;
}


.img_container{
	width: 28rem;
    height: 28rem;
    margin: auto;
}

/******Super Extra Small Devices Only*****/
@media (max-width: 479px)
{
   .navbar-h1{
      padding:5px;
      font-size:6vw;
    }
}

/* liked song list */

  .container-liked-list {
	margin: 20px;
  }


  .container-scroll {
	background: linear-gradient(to right, #9c9df1, #9db6f0, #D2DAFF, #EEF1FF); 
	
	margin: auto;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
	border: 10px solid whitesmoke;
	font-family: 'Arial', sans-serif;
	height: 200px;
	width: 90%;
	overflow-y: auto;
	border-radius: 10px;
  }
table{
	width: 100%;
	font-family: Verdana;
}
.headT{
	color: black;
	font-family:Arial,  sans-serif;
	font-size: large;
	font-weight: lighter;
	position: sticky;
	border-bottom: 4px solid #7576c4;	
}
td,th{
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #555;
}
  tr {
	width:100%;
	line-height: 40px;
	padding: 10px;
	/* background: linear-gradient(to right, #9c9df1, #9db6f0, #D2DAFF, #EEF1FF); */
	border-bottom: 1px solid #555;
	transition: background 1s,box-shadow 0.3s;
	cursor: pointer;
  }
  tr:hover{
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); 
  background: linear-gradient(to right, #bfc3f7, #9c9df1, #9ab6f5, #EEF1FF);

}